header{
	height: var(--height-70);
	width: 100%;
	background-color: var(--color-light);
	border-bottom: var(--border-default);
	display: flex;
}

header #logo{
	padding-block: 10px;
	margin-left: 20px;
	width: 120px;
	height: 100%;
}

header #logo a{
	display: inline-block;
	height: 100%;
	width: 100%;
	background: url('../images/logo.png') no-repeat left center/contain;
}


@media (max-width: 500px) {
	header{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	header #logo {
		margin-left: 0px;
	}
}