.places h1, h2 {
	font-size: var(--fs-big);
}

.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: var(--sz-sm);
	padding: var(--sz-sm);
}

.places > h1:first-child{
	width: 100%;
}

.place-item {
	padding: var(--sz-sm);
	margin: var(--sz-sm);
	border: var(--border-secondary);
	border-radius: 4px;
	min-height: 390px;
	width: 390px;
}

.place-item-header{
	position: relative;
	display: flex;
	height: 90px;
	align-items: flex-start;
}

.place-item h2{
	width: 80%;
}

.price_by_night {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: minmax(60px, 80px);
	height: 60px;
	color: var(--color-secondary);
	border: 4px var(--color-secondary) solid;
	border-radius: 50%;
	text-align: center;
	padding-inline: 15px;
	padding-block: 10px;
	font-size: var(--fs-big);
}

.information {
	height: 80px;
	border-top: var(--border-light);
	border-bottom: var(--border-light);
	padding-block: var(--sz-mini);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.information div:first-child{
	margin-right: var(--sz-mini);
}

.information div:last-child{
	margin-left: var(--sz-mini);
}

.info-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100px;
}

.info-icon {
	height: 60px;
	width: 100%;
	margin-bottom: var(--sz-mini);
}

.max_guest > .info-icon {
	background: url('../images/icon_group.png') no-repeat center center/contain;
}
.number_rooms > .info-icon {
	background: url('../images/icon_bed.png') no-repeat center center/contain;
}
.number_bathrooms > .info-icon {
	background: url('../images/icon_bath.png') no-repeat center center/contain;
}

.user{
	margin-bottom: var(--sz-xsm);
}

.user p,
.description{
	text-align: left;
}

.amenities,
.reviews {
	margin-top: var(--sz-md);
	width: 100%;
}

.amenities h2,
.reviews h2 {
	font-size: var(--fs-large);
	width: 100%;
	padding-bottom: var(--sz-xsm);
	border-bottom: var(--border-light);
}

.amenities-group{
	display: flex;
	align-items: center;
}

.amenity-icon {
	width: 40px;
	height: 30px;
	margin-right: var(--sz-xsm);
}

.icon-wifi {
	background: url('../images/icon_wifi.png') no-repeat center center/contain;
}
.icon-tv {
	background: url('../images/icon_tv.png') no-repeat center center/contain;
}
.icon-pets {
	background: url('../images/icon_pets.png') no-repeat center center/contain;
}
.icon-gym {
	background: url('../images/icon_gym.png') no-repeat center center/contain;
}
.icon-room_service {
	background: url('../images/icon_24_hours.png') no-repeat center center/contain;
}
.icon-car_rental {
	background: url('../images/icon_car-rental.png') no-repeat center center/contain;
}
.icon-cctv {
	background: url('../images/icon_cctv.png') no-repeat center center/contain;
}
.icon-laundry {
	background: url('../images/icon_hanger.png') no-repeat center center/contain;
}
.icon-pool {
	background: url('../images/icon_swimmer.png') no-repeat center center/contain;
}


.review-group h3 {
	font-size: var(--fs-regular);
}

.review-group p{
	font-size: var(--fs-small);
}

@media (max-width: 500px) {
	.places {
		text-align: center;
	}
	.user p,
	.description {
		text-align: center;;
	}
	.amenities-group {
		justify-content: center;
	}
	.place-item {
		max-width: 90vw;
	}
	.place-item-header h2 {
		font-size: 25px;
		max-width: 70%;
		text-align: center;
		height: 80px;
	}
	.price_by_night {
		font-size: 20px;
		padding-inline: 5px;
		padding-block: 15px;
		width: 70px;
	}
	.info-group p {
		font-size: 13px;
	}
}

@media (min-width: 501px) and (max-width: 850px) {
	.place-item {
		width: 320px;
	}
	.place-item-header h2 {
		font-size: 25px;
		max-width: 70%;
		text-align: center;
		height: 80px;
	}
	.price_by_night {
		font-size: 20px;
		padding-inline: 5px;
		padding-block: 15px;
		width: 70px;
	}
	.info-group p {
		font-size: 13px;
	}
}

@media (max-width: 300px){
	.info-group p {
		font-size: 11px;
	}
}