:root{
	--font_size_default: 14px;
	--color-primary: #484848;
	--height-70: 70px;
	--color-dark: #484848;
	--color-light: #fff;
	--border-default: 1px #ccc solid;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	color: var(--color-primary);
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: var(--font_size_default);
}
a{
	text-decoration: none;
}