:root{
	--font_size_default: 14px;
	--color-primary: #484848;
	--height-70: 70px;
	--height-60: 60px;
	--color-dark: #484848;
	--color-light: #fff;
	--border-default: 1px #ccc solid;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	color: var(--color-primary);
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: var(--font_size_default);
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
}

a{
	text-decoration: none;
}

.content-wrapper{
	flex: 1;
	min-width: 100vw;
}
