footer{
	background-color: var(--color-light);
	margin: auto;
	width: 100%;
	height: 60px;
	border-top: var(--border-default);
	display:flex;
	flex-direction: column;
	align-items: space-around;
	justify-content: center;
	position: absolute;
	bottom: 0;
}

footer > p{
	text-align: center;
}
