footer{
	background-color: var(--color-light);
	margin: auto;
	width: 100%;
	height: 60px;
	border-top: var(--border-default);
	position: absolute;
	bottom: 0;
}
footer p{
	text-align: center;
	padding-block: 5px;
}
