.places h1, h2 {
	font-size: var(--fs-big);
}

.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: var(--sz-sm);
	padding: var(--sz-sm);
}

.places > h1:first-child{
	width: 100%;
}

.place-item {
	padding: var(--sz-sm);
	margin: var(--sz-sm);
	border: var(--border-secondary);
	border-radius: 4px;
	text-align: center;
	width: 390px;
}
